


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(6, 43, 43);
  }
  
  header {
    background-color: #7db0d3;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #f0f0f0;
  }
  #answer-container{
    color: darkgreen;

  }
  
  form {
    width: 50%;
    margin-bottom: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
    border-radius: 20px;
  }
  
  #answer-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }